body {
    margin: 0 auto;
 
}
 
header {
    background-color: red;
    height: 300px;
}

.logo1 {
    position: relative;
    top: 35px;
    left: 112px;
}

.lista .list {
    list-style-type: none;
    margin-left: 800px;
}


.list li {
    display: inline-block;
    margin-right: 50px;
}

.list li a {
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
}


h2 {
    text-align: center;
    margin-top: 75px;
    color: aliceblue;
}

h4 {
    text-align: center;
    color: aliceblue;
}

#middel {
    text-align: center;
    background-color: white;
    width: 100%;

}

.sect {
    display: inline-block;
    width: 25%;
}

.line {
    position: relative;
    bottom: 24px;
    font-size: 20px;
}

.images {
    border-radius: 50%;
    width: 160px;
}

#sect2 {
    text-align: center

}
.logo2 {
    position: relative;
    bottom: 66px;
}
